.header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.dark-theme {
    background-color: #333333;
    color: whitesmoke;
}

.light-theme {
    background-color: whitesmoke;
    color: #333333;
}
.main {
    background-color: white;
    padding: 30px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.footer {
    text-align: center;
    
}